#include "buildcfg.h"
#include <Windows.h>
#include <CommCtrl.h>
#include <KexVer.h>
#include "resource.h"

1 VERSIONINFO
	FILEVERSION KEX_VERSION_FV
	FILEOS VOS_NT
#if defined(KEX_TARGET_TYPE_EXE)
	FILETYPE VFT_APP
#elif defined(KEX_TARGET_TYPE_DLL)
	FILETYPE VFT_DLL
#endif
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex Configuration Tool"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"KEXCFG.EXE"
		END
		BLOCK "080404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex 配置工具"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"KEXCFG.EXE"
		END
		BLOCK "040404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex ?配置工具"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"KEXCFG.EXE"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409 0x04E4, 0x0804 0x04E4
	END
END

IDI_APPICON ICON "kexcfg.ico"


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDM_LISTVIEWITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "打开文件位置(&I)",	M_OPENFILELOCATION
		MENUITEM "运行程序(&R)",		M_RUNPROGRAM
		MENUITEM "从列表中移除(V)",		M_REMOVE
		MENUITEM "属性(&R)",			M_PROPERTIES
	END
END

IDM_LISTVIEWMULTIITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "从列表中移除(V)",	M_REMOVE
	END
END

IDM_LISTVIEWBLANKSPACEMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "添加程序(&D)...",		M_ADDPROGRAM
	END
END

IDD_DIALOG1 DIALOGEX 0, 0, 354, 302
	STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
	CAPTION "VxKex 全局设置"
	FONT 8, "Microsoft Yahei", 400, 0, 1
BEGIN
	LTEXT			"配置 VxKex 设置：", IDSTATIC, 7, 7, 133, 8, SS_LEFT
	
	GROUPBOX		"日志记录", IDSTATIC, 7, 20, 340, 31
	AUTOCHECKBOX	"启用(&B)", IDC_ENABLELOGGING, 16, 34, 40, 9
	EDITTEXT		IDC_LOGDIR, 56, 32, 231, 12, ES_AUTOHSCROLL
	PUSHBUTTON		"浏览(&R)...", IDC_BROWSELOGDIR, 292, 31, 50, 14

	GROUPBOX		"系统集成", IDSTATIC, 7, 56, 340, 55
	AUTOCHECKBOX	"允许 MSI 安装程序启用 VxKex(&M)", IDC_ENABLEFORMSI, 16, 69, 250, 9
	AUTOCHECKBOX	"绕过“……不是有效的 Win32 应用程序”错误消息(&W)", IDC_CPIWBYPA, 16, 82, 250, 9
	AUTOCHECKBOX	"将 VxKex 添加到：(&A)", IDC_ADDTOMENU, 16, 95, 95, 9
	COMBOBOX		IDC_WHICHCONTEXTMENU, 116, 93, 80, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT			"配置已启用 VxKex 的应用程序：", IDSTATIC, 7, 116, 200, 8, SS_LEFT
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT, 7, 129, 280, 144
	PUSHBUTTON		"添加(&D)...", IDC_NEWAPP, 292, 129, 50, 14
	PUSHBUTTON		"移除(&R)", IDC_REMOVEAPPS, 292, 148, 50, 14, WS_DISABLED
	PUSHBUTTON		"属性(&P)", IDC_PROPERTIES, 292, 167, 50, 14, WS_DISABLED

	PUSHBUTTON		"确定(&O)", IDC_OK, 193, 281, 50, 14
	PUSHBUTTON		"取消(&C)", IDC_CANCEL, 245, 281, 50, 14
	PUSHBUTTON		"应用(&Y)", IDC_APPLY, 297, 281, 50, 14
END


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

IDM_LISTVIEWITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "開啟檔案位置(&I)",	M_OPENFILELOCATION
		MENUITEM "執行程式(&R)",		M_RUNPROGRAM
		MENUITEM "從列表中移除(V)",		M_REMOVE
		MENUITEM "屬性(&R)",			M_PROPERTIES
	END
END

IDM_LISTVIEWMULTIITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "從列表中移除(V)",	M_REMOVE
	END
END

IDM_LISTVIEWBLANKSPACEMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "添加程式(&D)...",		M_ADDPROGRAM
	END
END

IDD_DIALOG1 DIALOGEX 0, 0, 354, 302
	STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
	CAPTION "VxKex 全域設定"
	FONT 8, "Microsoft Jhenghei", 400, 0, 1
BEGIN
	LTEXT			"配置 VxKex 設定：", IDSTATIC, 7, 7, 133, 8, SS_LEFT
	
	GROUPBOX		"日誌記錄", IDSTATIC, 7, 20, 340, 31
	AUTOCHECKBOX	"啟用(&B)", IDC_ENABLELOGGING, 16, 34, 40, 9
	EDITTEXT		IDC_LOGDIR, 56, 32, 231, 12, ES_AUTOHSCROLL
	PUSHBUTTON		"瀏覽(&R)...", IDC_BROWSELOGDIR, 292, 31, 50, 14

	GROUPBOX		"系統集成", IDSTATIC, 7, 56, 340, 55
	AUTOCHECKBOX	"允許 MSI 安裝程式啟用 VxKex(&M)", IDC_ENABLEFORMSI, 16, 69, 250, 9
	AUTOCHECKBOX	"繞過「……不是有效的 Win32 應用程式」錯誤消息(&W)", IDC_CPIWBYPA, 16, 82, 250, 9
	AUTOCHECKBOX	"將 VxKex 添加到：(&A)", IDC_ADDTOMENU, 16, 95, 95, 9
	COMBOBOX		IDC_WHICHCONTEXTMENU, 116, 93, 80, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT			"配置已啟用 VxKex 的應用程式：", IDSTATIC, 7, 116, 200, 8, SS_LEFT
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT, 7, 129, 280, 144
	PUSHBUTTON		"添加(&D)...", IDC_NEWAPP, 292, 129, 50, 14
	PUSHBUTTON		"移除(&R)", IDC_REMOVEAPPS, 292, 148, 50, 14, WS_DISABLED
	PUSHBUTTON		"屬性(&P)", IDC_PROPERTIES, 292, 167, 50, 14, WS_DISABLED

	PUSHBUTTON		"確定(&O)", IDC_OK, 193, 281, 50, 14
	PUSHBUTTON		"取消(&C)", IDC_CANCEL, 245, 281, 50, 14
	PUSHBUTTON		"應用(&Y)", IDC_APPLY, 297, 281, 50, 14
END


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

IDM_LISTVIEWITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Open file locat&ion",	M_OPENFILELOCATION
		MENUITEM "&Run program",		M_RUNPROGRAM
		MENUITEM "Remo&ve from list",	M_REMOVE
		MENUITEM "P&roperties",			M_PROPERTIES
	END
END

IDM_LISTVIEWMULTIITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Remo&ve from list",	M_REMOVE
	END
END

IDM_LISTVIEWBLANKSPACEMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "A&dd program...",		M_ADDPROGRAM
	END
END

IDD_DIALOG1 DIALOGEX 0, 0, 354, 302
	STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
	CAPTION "VxKex Global Settings"
	FONT 8, "Segoe UI", 400, 0, 1
BEGIN
	LTEXT			"Configure VxKex settings:", IDSTATIC, 7, 7, 133, 8, SS_LEFT

	GROUPBOX		"Logging", IDSTATIC, 7, 20, 340, 31
	AUTOCHECKBOX	"Ena&ble", IDC_ENABLELOGGING, 16, 34, 40, 9
	EDITTEXT		IDC_LOGDIR, 56, 32, 231, 12, ES_AUTOHSCROLL
	PUSHBUTTON		"B&rowse...", IDC_BROWSELOGDIR, 292, 31, 50, 14

	GROUPBOX		"System integration", IDSTATIC, 7, 56, 340, 55
	AUTOCHECKBOX	"Allow VxKex to be enabled for &MSI installers", IDC_ENABLEFORMSI, 16, 69, 250, 9
	AUTOCHECKBOX	"Bypass ""... is not a valid &Win32 application"" error message", IDC_CPIWBYPA, 16, 82, 250, 9
	AUTOCHECKBOX	"&Add VxKex to:", IDC_ADDTOMENU, 16, 95, 69, 9
	COMBOBOX		IDC_WHICHCONTEXTMENU, 90, 93, 110, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT			"Configure applications that have VxKex enabled:", IDSTATIC, 7, 116, 200, 8, SS_LEFT
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT, 7, 129, 280, 144
	PUSHBUTTON		"A&dd...", IDC_NEWAPP, 292, 129, 50, 14
	PUSHBUTTON		"&Remove", IDC_REMOVEAPPS, 292, 148, 50, 14, WS_DISABLED
	PUSHBUTTON		"&Properties", IDC_PROPERTIES, 292, 167, 50, 14, WS_DISABLED

	PUSHBUTTON		"&OK", IDC_OK, 193, 281, 50, 14
	PUSHBUTTON		"&Cancel", IDC_CANCEL, 245, 281, 50, 14
	PUSHBUTTON		"Appl&y", IDC_APPLY, 297, 281, 50, 14
END