#include "buildcfg.h"
#include <Windows.h>
#include <KexVer.h>
#include "resource.h"

1 VERSIONINFO
	FILEVERSION KEX_VERSION_FV
	FILEOS VOS_NT
#if defined(KEX_TARGET_TYPE_EXE)
	FILETYPE VFT_APP
#elif defined(KEX_TARGET_TYPE_DLL)
	FILETYPE VFT_DLL
#endif
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex Loader"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"VXKEXLDR.EXE"
		END
		BLOCK "080404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex 加载器"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"VXKEXLDR.EXE"
		END
		BLOCK "040404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex 載入器"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"VXKEXLDR.EXE"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409 0x04E4, 0x0804 0x04E4
	END
END

IDD_APPICON ICON "vxkexldr.ico"


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_MAINWINDOW DIALOGEX 0, 0, 350, 80
	STYLE DS_CENTER | DS_MODALFRAME | WS_VISIBLE | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
	EXSTYLE WS_EX_ACCEPTFILES
	CAPTION "选择应用程序"
	FONT 9, "Microsoft Yahei"
BEGIN
	LTEXT			"选择要启用系统 API 扩展的文件或应用程序（*.exe、*.msi 等）。", IDSTATIC, 8, 6, 325, 20, SS_LEFT
	LTEXT			"命令：(&C)", IDSTATIC, 8, 30, 35, 8, SS_LEFT
	EDITTEXT		IDC_FILEPATH, 49, 29, 240, 10, ES_AUTOHSCROLL
	PUSHBUTTON		"浏览(&B)...", IDC_BROWSE, 294, 27, 50, 14
	LTEXT			"参数：(&A)", IDSTATIC, 8, 45, 40, 8, SS_LEFT
	EDITTEXT		IDC_ARGUMENTS, 49, 44, 240, 10, ES_AUTOHSCROLL
	PUSHBUTTON		"▼ 更多选项(&O)", IDC_MOREOPTIONS, 6, 60, 70, 14
	DEFPUSHBUTTON	"运行(&R)", IDOK, 240, 60, 50, 14, WS_DISABLED
	PUSHBUTTON		"退出(&X)", IDCANCEL, 294, 60, 50, 14
END

IDD_MOREOPTIONS DIALOGEX 5, 75, 247, 61
	STYLE DS_CONTROL | WS_CHILD | DS_NOIDLEMSG | DS_SHELLFONT | WS_VISIBLE
	EXSTYLE WS_EX_NOPARENTNOTIFY
	CAPTION "更多选项"
	FONT 9, "Microsoft Yahei"
BEGIN
	AUTOCHECKBOX	"报告其他版本的 Windows：(&R)", IDC_ENABLESPOOF, 6, 8, 137, 8
	COMBOBOX		IDC_WINVER, 146, 6, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_DISABLED
	AUTOCHECKBOX	"使用更强的版本报告功能(&V)", IDC_STRONGSPOOF, 6, 21, 109, 8, WS_DISABLED
	AUTOCHECKBOX	"禁用所有特定于应用程序的变通方法(&W)", IDC_DISABLEASH, 6, 47, 149, 8
	AUTOCHECKBOX	"?为子进程禁用 VxKex(&C)", IDC_DISABLEFORCHILD, 6, 34, 119, 8
END


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

IDD_MAINWINDOW DIALOGEX 0, 0, 350, 80
	STYLE DS_CENTER | DS_MODALFRAME | WS_VISIBLE | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
	EXSTYLE WS_EX_ACCEPTFILES
	CAPTION "選擇應用程式"
	FONT 9, "Microsoft Jhenghei"
BEGIN
	LTEXT			"選擇要啟用系統 API 擴展的檔案或應用程式（*.exe、*.msi 等）。", IDSTATIC, 8, 6, 325, 20, SS_LEFT
	LTEXT			"命令：(&C)", IDSTATIC, 8, 30, 35, 8, SS_LEFT
	EDITTEXT		IDC_FILEPATH, 49, 29, 240, 10, ES_AUTOHSCROLL
	PUSHBUTTON		"瀏覽(&B)...", IDC_BROWSE, 294, 27, 50, 14
	LTEXT			"參數：(&A)", IDSTATIC, 8, 45, 40, 8, SS_LEFT
	EDITTEXT		IDC_ARGUMENTS, 49, 44, 240, 10, ES_AUTOHSCROLL
	PUSHBUTTON		"▼ 更多選項(&O)", IDC_MOREOPTIONS, 6, 60, 70, 14
	DEFPUSHBUTTON	"執行(&R)", IDOK, 240, 60, 50, 14, WS_DISABLED
	PUSHBUTTON		"退出(&X)", IDCANCEL, 294, 60, 50, 14
END

IDD_MOREOPTIONS DIALOGEX 5, 75, 247, 61
	STYLE DS_CONTROL | WS_CHILD | DS_NOIDLEMSG | DS_SHELLFONT | WS_VISIBLE
	EXSTYLE WS_EX_NOPARENTNOTIFY
	CAPTION "更多選項"
	FONT 9, "Microsoft Jhenghei"
BEGIN
	AUTOCHECKBOX	"報告其他版本的 Windows：(&R)", IDC_ENABLESPOOF, 6, 8, 137, 8
	COMBOBOX		IDC_WINVER, 146, 6, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_DISABLED
	AUTOCHECKBOX	"使用更強的版本報告功能(&V)", IDC_STRONGSPOOF, 6, 21, 109, 8, WS_DISABLED
	AUTOCHECKBOX	"停用所有特定於應用程式的變通方法(&W)", IDC_DISABLEASH, 6, 47, 149, 8
	AUTOCHECKBOX	"?為子處理程序停用 VxKex(&C)", IDC_DISABLEFORCHILD, 6, 34, 119, 8
END


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

IDD_MAINWINDOW DIALOGEX 0, 0, 350, 80
	STYLE DS_CENTER | DS_MODALFRAME | WS_VISIBLE | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_SYSMENU
	EXSTYLE WS_EX_ACCEPTFILES
	CAPTION "Choose Application"
	FONT 9, "Segoe UI"
BEGIN
	LTEXT			"Choose a file or application (*.exe, *.msi, etc.) to run with system API extensions enabled.\r\nCommand-line arguments may be specified, if desired.", IDSTATIC, 8, 6, 325, 20, SS_LEFT
	LTEXT			"&Command:", IDSTATIC, 8, 30, 35, 8, SS_LEFT
	EDITTEXT		IDC_FILEPATH, 49, 29, 240, 10, ES_AUTOHSCROLL
	PUSHBUTTON		"&Browse...", IDC_BROWSE, 294, 27, 50, 14
	LTEXT			"&Arguments:", IDSTATIC, 8, 45, 40, 8, SS_LEFT
	EDITTEXT		IDC_ARGUMENTS, 49, 44, 240, 10, ES_AUTOHSCROLL
	PUSHBUTTON		"▼ More &options", IDC_MOREOPTIONS, 6, 60, 70, 14
	DEFPUSHBUTTON	"&Run", IDOK, 240, 60, 50, 14, WS_DISABLED
	PUSHBUTTON		"E&xit", IDCANCEL, 294, 60, 50, 14
END

IDD_MOREOPTIONS DIALOGEX 5, 75, 247, 61
	STYLE DS_CONTROL | WS_CHILD | DS_NOIDLEMSG | DS_SHELLFONT | WS_VISIBLE
	EXSTYLE WS_EX_NOPARENTNOTIFY
	CAPTION "More Options"
	FONT 9, "Segoe UI"
BEGIN
	AUTOCHECKBOX	"&Report a different version of Windows:", IDC_ENABLESPOOF, 6, 8, 137, 8
	COMBOBOX		IDC_WINVER, 146, 6, 100, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_DISABLED
	AUTOCHECKBOX	"Use stronger &version reporting", IDC_STRONGSPOOF, 6, 21, 109, 8, WS_DISABLED
	AUTOCHECKBOX	"Disable all application-specific &workarounds", IDC_DISABLEASH, 6, 47, 149, 8
	AUTOCHECKBOX	"?Disable VxKex for &child processes", IDC_DISABLEFORCHILD, 6, 34, 119, 8
END