#include "buildcfg.h"
#include <Windows.h>
#include <CommCtrl.h>
#include <KexVer.h>
#include "resource.h"

#define IDSTATIC -1

1 VERSIONINFO
	FILEVERSION KEX_VERSION_FV
	FILEOS VOS_NT
#if defined(KEX_TARGET_TYPE_EXE)
	FILETYPE VFT_APP
#elif defined(KEX_TARGET_TYPE_DLL)
	FILETYPE VFT_DLL
#endif
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex Log Viewer"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"VXLVIEW.EXE"
		END
		BLOCK "080404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex 日志查看器"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"VXLVIEW.EXE"
		END
		BLOCK "040404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex 日誌查看器"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				KEX_COMPONENT
			VALUE "OriginalFilename",			"VXLVIEW.EXE"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409 0x04E4, 0x0804 0x04E4
	END
END

IDI_APPICON ICON "vxlview.ico"
IDI_FILEICON ICON "vxlfile.ico"


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

//
// Menu for the main application window
//
IDM_MAINMENU MENU
BEGIN
	POPUP "文件(&F)"
	BEGIN
		MENUITEM "打开日志文件(&O)...\tCtrl+O", M_OPEN
		MENUITEM "导出为文本(&E)...\tCtrl+E", M_EXPORT
		MENUITEM SEPARATOR
		MENUITEM "退出(&X)\tCtrl+W", M_EXIT
	END

	POPUP "编辑(&E)"
	BEGIN
		MENUITEM "查找(&F)\tCtrl+F", M_FIND
		MENUITEM "转到(&G)...\tCtrl+G", M_GOTORAW
	END

	POPUP "帮助(&H)"
	BEGIN
		MENUITEM "关于(&A)", M_ABOUT
	END
END

//
// Menu for right clicking on a log entry
//
IDM_LISTVIEWMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "复制短格式(&S)", M_COPY
		MENUITEM "复制长格式(&L)", M_COPYLONG
	END
END

//
// Keyboard shortcuts
//
IDA_ACCELERATORS ACCELERATORS
BEGIN
	"O",	M_OPEN,			VIRTKEY, CONTROL
	"W",	M_EXIT,			VIRTKEY, CONTROL
	"E",	M_EXPORT,		VIRTKEY, CONTROL
	"F",	M_FIND,			VIRTKEY, CONTROL
	"G",	M_GOTORAW,		VIRTKEY, CONTROL
	"A",	M_SELECTALL,	VIRTKEY, CONTROL
END

//
// Main window
//
IDD_MAINWND DIALOGEX 0, 0, 0, 0
	STYLE DS_SHELLFONT | DS_NOIDLEMSG | WS_CAPTION | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX
	CAPTION "VxKex 日志查看器"
	FONT 8, "Microsoft Yahei"
	MENU IDM_MAINMENU
BEGIN
	CONTROL "", IDC_LISTVIEW, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_OWNERDATA, 0, 0, 0, 0
	CONTROL "", IDC_STATUSBAR, "msctls_statusbar32", 0, 0, 0, 0, 0
END

//
// Right-click menu for the component list
//

IDM_COMPONENTLISTMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "全选(&A)", M_SELECTALL
		MENUITEM "全部不选(&N)", M_SELECTNONE
	END
END

IDD_FILTERS DIALOGEX 0, 0, 250, 182
	STYLE DS_CONTROL | DS_SHELLFONT | DS_NOIDLEMSG | WS_CHILD | WS_VISIBLE
	FONT 8, "Microsoft Yahei"
BEGIN
	GROUPBOX "严重程度级别", IDC_GBFILTERSEVERITY, 0, 0, 80, 87
	AUTOCHECKBOX "严重错误(&R)", IDC_CBFILTERCRITICAL, 8, 9, 50, 12, WS_GROUP
	AUTOCHECKBOX "错误(&E)", IDC_CBFILTERERROR, 8, 21, 50, 12
	AUTOCHECKBOX "警告(&A)", IDC_CBFILTERWARNING, 8, 33, 50, 12
	AUTOCHECKBOX "信息(&I)", IDC_CBFILTERINFORMATION, 8, 45, 50, 12
	AUTOCHECKBOX "详细信息(&D)", IDC_CBFILTERDETAIL, 8, 57, 50, 12
	AUTOCHECKBOX "调试(&B)", IDC_CBFILTERDEBUG, 8, 69, 50, 12

	GROUPBOX "文本过滤器", IDC_GBFILTERTEXT, 90, 0, 150, 81
	EDITTEXT IDC_SEARCHBOX, 98, 12, 134, 10, ES_AUTOHSCROLL
	AUTOCHECKBOX "区分大小写(&C)", IDC_CBCASESENSITIVE, 98, 27, 65, 12, WS_GROUP
	AUTOCHECKBOX "通配符匹配(&W)", IDC_CBWILDCARD, 98, 39, 65, 12
	AUTOCHECKBOX "反转搜索(&N)", IDC_CBINVERTSEARCH, 98, 51, 65, 12
	AUTOCHECKBOX "全字匹配(&X)", IDC_CBEXACTMATCH, 98, 63, 65, 12
	AUTOCHECKBOX "搜索所有文本(&T)", IDC_CBSEARCHWHOLE, 165, 27, 65, 12

	GROUPBOX "选择可见组件", IDC_GBFILTERCOMPONENT, 0, 93, 80+150+10, 89
	CONTROL "", IDC_COMPONENTLIST, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SORTASCENDING | LVS_SINGLESEL, 5, 104, 80+150-1, 72
END

IDD_DETAILS DIALOGEX 0, 0, 0, 0
	STYLE DS_CONTROL | DS_SHELLFONT | DS_NOIDLEMSG | WS_CHILD | WS_VISIBLE
	FONT 8, "Microsoft Yahei"
BEGIN
	GROUPBOX "日志条目详细信息", IDC_GBDETAILSBORDER, 0, 0, 0, 0
	RTEXT "严重程度：", IDSTATIC, 2, 13, 45, 12
	RTEXT "日期/时间：", IDSTATIC, 2, 24, 45, 12
	RTEXT "来源：", IDSTATIC, 2, 35, 45, 12
	RTEXT "消息：", IDSTATIC, 2, 46, 45, 12
	LTEXT "", IDC_DETAILSSEVERITYTEXT, 54, 13, 0, 10, SS_ENDELLIPSIS
	LTEXT "", IDC_DETAILSDATETIMETEXT, 54, 24, 0, 10, SS_ENDELLIPSIS
	LTEXT "", IDC_DETAILSSOURCETEXT, 54, 35, 0, 10, SS_ENDELLIPSIS
	EDITTEXT IDC_DETAILSMESSAGETEXT, 0, 0, 0, 0, ES_MULTILINE | WS_VSCROLL
END

IDD_ABOUT DIALOGEX 0, 0, 150, 75
	STYLE DS_SHELLFONT | DS_NOIDLEMSG | WS_POPUP
	CAPTION "关于日志查看器"
	FONT 9, "Microsoft Yahei"
BEGIN
	CTEXT "VxKex 日志查看器", IDSTATIC, 0, 5, 150, 10
	CTEXT "版本 1.0.1.0", IDSTATIC, 0, 15, 150, 10
#ifdef _DEBUG
	CTEXT "（调试构件）", IDSTATIC, 0, 25, 150, 10
#endif
	CONTROL "<A>https://github.com/vxkex/vxkex</A>", IDC_WEBSITELINK, "SysLink", 0, 20, 35, 130, 16
	DEFPUSHBUTTON "确定", IDOK, 50, 55, 50, 14
END

IDD_GOTORAW DIALOGEX 0, 0, 158, 48
	STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_NOIDLEMSG |
		  DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
	EXSTYLE WS_EX_NOPARENTNOTIFY
	CAPTION "转到条目"
	FONT 9, "Microsoft Yahei"
BEGIN
	LTEXT			"条目编号：(&L)", stc1, 8, 10, 47, 8
	EDITTEXT		edt1, 56, 9, 83, 10, ES_NUMBER
	CONTROL			"", scr1, UPDOWN_CLASS, UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS, 139, 9, 11, 10
	DEFPUSHBUTTON	"转到", IDOK, 50, 27, 50, 14
	PUSHBUTTON		"取消", IDCANCEL, 101, 27, 50, 14
END


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

//
// Menu for the main application window
//
IDM_MAINMENU MENU
BEGIN
	POPUP "檔案(&F)"
	BEGIN
		MENUITEM "開啟日誌檔案(&O)...\tCtrl+O", M_OPEN
		MENUITEM "導出為文本(&E)...\tCtrl+E", M_EXPORT
		MENUITEM SEPARATOR
		MENUITEM "退出(&X)\tCtrl+W", M_EXIT
	END

	POPUP "編輯(&E)"
	BEGIN
		MENUITEM "查找(&F)\tCtrl+F", M_FIND
		MENUITEM "轉到(&G)...\tCtrl+G", M_GOTORAW
	END

	POPUP "幫助(&H)"
	BEGIN
		MENUITEM "關於(&A)", M_ABOUT
	END
END

//
// Menu for right clicking on a log entry
//
IDM_LISTVIEWMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "複製短格式(&S)", M_COPY
		MENUITEM "複製長格式(&L)", M_COPYLONG
	END
END

//
// Keyboard shortcuts
//
IDA_ACCELERATORS ACCELERATORS
BEGIN
	"O",	M_OPEN,			VIRTKEY, CONTROL
	"W",	M_EXIT,			VIRTKEY, CONTROL
	"E",	M_EXPORT,		VIRTKEY, CONTROL
	"F",	M_FIND,			VIRTKEY, CONTROL
	"G",	M_GOTORAW,		VIRTKEY, CONTROL
	"A",	M_SELECTALL,	VIRTKEY, CONTROL
END

//
// Main window
//
IDD_MAINWND DIALOGEX 0, 0, 0, 0
	STYLE DS_SHELLFONT | DS_NOIDLEMSG | WS_CAPTION | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX
	CAPTION "VxKex 日誌查看器"
	FONT 8, "Microsoft Jhenghei"
	MENU IDM_MAINMENU
BEGIN
	CONTROL "", IDC_LISTVIEW, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_OWNERDATA, 0, 0, 0, 0
	CONTROL "", IDC_STATUSBAR, "msctls_statusbar32", 0, 0, 0, 0, 0
END

//
// Right-click menu for the component list
//

IDM_COMPONENTLISTMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "全選(&A)", M_SELECTALL
		MENUITEM "全部不選(&N)", M_SELECTNONE
	END
END

IDD_FILTERS DIALOGEX 0, 0, 250, 182
	STYLE DS_CONTROL | DS_SHELLFONT | DS_NOIDLEMSG | WS_CHILD | WS_VISIBLE
	FONT 8, "Microsoft Jhenghei"
BEGIN
	GROUPBOX "嚴重程度級別", IDC_GBFILTERSEVERITY, 0, 0, 80, 87
	AUTOCHECKBOX "嚴重錯誤(&R)", IDC_CBFILTERCRITICAL, 8, 9, 50, 12, WS_GROUP
	AUTOCHECKBOX "錯誤(&E)", IDC_CBFILTERERROR, 8, 21, 50, 12
	AUTOCHECKBOX "警告(&A)", IDC_CBFILTERWARNING, 8, 33, 50, 12
	AUTOCHECKBOX "資訊(&I)", IDC_CBFILTERINFORMATION, 8, 45, 50, 12
	AUTOCHECKBOX "詳細資訊(&D)", IDC_CBFILTERDETAIL, 8, 57, 50, 12
	AUTOCHECKBOX "調試(&B)", IDC_CBFILTERDEBUG, 8, 69, 50, 12

	GROUPBOX "文本過濾器", IDC_GBFILTERTEXT, 90, 0, 150, 81
	EDITTEXT IDC_SEARCHBOX, 98, 12, 134, 10, ES_AUTOHSCROLL
	AUTOCHECKBOX "區分大小寫(&C)", IDC_CBCASESENSITIVE, 98, 27, 65, 12, WS_GROUP
	AUTOCHECKBOX "通配符匹配(&W)", IDC_CBWILDCARD, 98, 39, 65, 12
	AUTOCHECKBOX "反轉搜索(&N)", IDC_CBINVERTSEARCH, 98, 51, 65, 12
	AUTOCHECKBOX "全字匹配(&X)", IDC_CBEXACTMATCH, 98, 63, 65, 12
	AUTOCHECKBOX "搜索所有文本(&T)", IDC_CBSEARCHWHOLE, 165, 27, 65, 12

	GROUPBOX "選擇可見組件", IDC_GBFILTERCOMPONENT, 0, 93, 80+150+10, 89
	CONTROL "", IDC_COMPONENTLIST, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SORTASCENDING | LVS_SINGLESEL, 5, 104, 80+150-1, 72
END

IDD_DETAILS DIALOGEX 0, 0, 0, 0
	STYLE DS_CONTROL | DS_SHELLFONT | DS_NOIDLEMSG | WS_CHILD | WS_VISIBLE
	FONT 8, "Microsoft Jhenghei"
BEGIN
	GROUPBOX "日誌條目詳細資訊", IDC_GBDETAILSBORDER, 0, 0, 0, 0
	RTEXT "嚴重程度：", IDSTATIC, 2, 13, 45, 12
	RTEXT "日期/時間：", IDSTATIC, 2, 24, 45, 12
	RTEXT "來源：", IDSTATIC, 2, 35, 45, 12
	RTEXT "消息：", IDSTATIC, 2, 46, 45, 12
	LTEXT "", IDC_DETAILSSEVERITYTEXT, 54, 13, 0, 10, SS_ENDELLIPSIS
	LTEXT "", IDC_DETAILSDATETIMETEXT, 54, 24, 0, 10, SS_ENDELLIPSIS
	LTEXT "", IDC_DETAILSSOURCETEXT, 54, 35, 0, 10, SS_ENDELLIPSIS
	EDITTEXT IDC_DETAILSMESSAGETEXT, 0, 0, 0, 0, ES_MULTILINE | WS_VSCROLL
END

IDD_ABOUT DIALOGEX 0, 0, 150, 75
	STYLE DS_SHELLFONT | DS_NOIDLEMSG | WS_POPUP
	CAPTION "關於日誌查看器"
	FONT 9, "Microsoft Jhenghei"
BEGIN
	CTEXT "VxKex 日誌查看器", IDSTATIC, 0, 5, 150, 10
	CTEXT "版本 1.0.1.0", IDSTATIC, 0, 15, 150, 10
#ifdef _DEBUG
	CTEXT "（調試構件）", IDSTATIC, 0, 25, 150, 10
#endif
	CONTROL "<A>https://github.com/vxkex/vxkex</A>", IDC_WEBSITELINK, "SysLink", 0, 20, 35, 130, 16
	DEFPUSHBUTTON "確定", IDOK, 50, 55, 50, 14
END

IDD_GOTORAW DIALOGEX 0, 0, 158, 48
	STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_NOIDLEMSG |
		  DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
	EXSTYLE WS_EX_NOPARENTNOTIFY
	CAPTION "轉到條目"
	FONT 9, "Microsoft Jhenghei"
BEGIN
	LTEXT			"條目編號：(&L)", stc1, 8, 10, 47, 8
	EDITTEXT		edt1, 56, 9, 83, 10, ES_NUMBER
	CONTROL			"", scr1, UPDOWN_CLASS, UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS, 139, 9, 11, 10
	DEFPUSHBUTTON	"轉到", IDOK, 50, 27, 50, 14
	PUSHBUTTON		"取消", IDCANCEL, 101, 27, 50, 14
END


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

//
// Menu for the main application window
//
IDM_MAINMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open Log File...\tCtrl+O", M_OPEN
		MENUITEM "&Export as Text...\tCtrl+E", M_EXPORT
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tCtrl+W", M_EXIT
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "&Find\tCtrl+F", M_FIND
		MENUITEM "&Go To...\tCtrl+G", M_GOTORAW
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&About", M_ABOUT
	END
END

//
// Menu for right clicking on a log entry
//
IDM_LISTVIEWMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Copy &short form", M_COPY
		MENUITEM "Copy &long form", M_COPYLONG
	END
END

//
// Keyboard shortcuts
//
IDA_ACCELERATORS ACCELERATORS
BEGIN
	"O",	M_OPEN,			VIRTKEY, CONTROL
	"W",	M_EXIT,			VIRTKEY, CONTROL
	"E",	M_EXPORT,		VIRTKEY, CONTROL
	"F",	M_FIND,			VIRTKEY, CONTROL
	"G",	M_GOTORAW,		VIRTKEY, CONTROL
	"A",	M_SELECTALL,	VIRTKEY, CONTROL
END

//
// Main window
//
IDD_MAINWND DIALOGEX 0, 0, 0, 0
	STYLE DS_SHELLFONT | DS_NOIDLEMSG | WS_CAPTION | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX
	CAPTION "VxKex Log Viewer"
	FONT 8, "Segoe UI"
	MENU IDM_MAINMENU
BEGIN
	CONTROL "", IDC_LISTVIEW, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | LVS_OWNERDATA, 0, 0, 0, 0
	CONTROL "", IDC_STATUSBAR, "msctls_statusbar32", 0, 0, 0, 0, 0
END

//
// Right-click menu for the component list
//

IDM_COMPONENTLISTMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Select &all", M_SELECTALL
		MENUITEM "Select &none", M_SELECTNONE
	END
END

IDD_FILTERS DIALOGEX 0, 0, 250, 182
	STYLE DS_CONTROL | DS_SHELLFONT | DS_NOIDLEMSG | WS_CHILD | WS_VISIBLE
	FONT 8, "Segoe UI"
BEGIN
	GROUPBOX "Severity Levels", IDC_GBFILTERSEVERITY, 0, 0, 80, 87
	AUTOCHECKBOX "C&ritical", IDC_CBFILTERCRITICAL, 8, 9, 50, 12, WS_GROUP
	AUTOCHECKBOX "&Error", IDC_CBFILTERERROR, 8, 21, 50, 12
	AUTOCHECKBOX "W&arning", IDC_CBFILTERWARNING, 8, 33, 50, 12
	AUTOCHECKBOX "&Information", IDC_CBFILTERINFORMATION, 8, 45, 50, 12
	AUTOCHECKBOX "&Detail", IDC_CBFILTERDETAIL, 8, 57, 50, 12
	AUTOCHECKBOX "De&bug", IDC_CBFILTERDEBUG, 8, 69, 50, 12

	GROUPBOX "Text Filter", IDC_GBFILTERTEXT, 90, 0, 150, 81
	EDITTEXT IDC_SEARCHBOX, 98, 12, 134, 10, ES_AUTOHSCROLL
	AUTOCHECKBOX "&Case sensitive", IDC_CBCASESENSITIVE, 98, 27, 65, 12, WS_GROUP
	AUTOCHECKBOX "&Wildcard match", IDC_CBWILDCARD, 98, 39, 65, 12
	AUTOCHECKBOX "I&nvert search", IDC_CBINVERTSEARCH, 98, 51, 65, 12
	AUTOCHECKBOX "E&xact match", IDC_CBEXACTMATCH, 98, 63, 65, 12
	AUTOCHECKBOX "Search all &text", IDC_CBSEARCHWHOLE, 165, 27, 65, 12

	GROUPBOX "Select Visible Components", IDC_GBFILTERCOMPONENT, 0, 93, 80+150+10, 89
	CONTROL "", IDC_COMPONENTLIST, "SysListView32", WS_BORDER | WS_TABSTOP | LVS_LIST | LVS_SORTASCENDING | LVS_SINGLESEL, 5, 104, 80+150-1, 72
END

IDD_DETAILS DIALOGEX 0, 0, 0, 0
	STYLE DS_CONTROL | DS_SHELLFONT | DS_NOIDLEMSG | WS_CHILD | WS_VISIBLE
	FONT 8, "Segoe UI"
BEGIN
	GROUPBOX "Log Entry Details", IDC_GBDETAILSBORDER, 0, 0, 0, 0
	RTEXT "Severity:", IDSTATIC, 2, 13, 45, 12
	RTEXT "Date/Time:", IDSTATIC, 2, 24, 45, 12
	RTEXT "Source:", IDSTATIC, 2, 35, 45, 12
	RTEXT "Message:", IDSTATIC, 2, 46, 45, 12
	LTEXT "", IDC_DETAILSSEVERITYTEXT, 54, 13, 0, 10, SS_ENDELLIPSIS
	LTEXT "", IDC_DETAILSDATETIMETEXT, 54, 24, 0, 10, SS_ENDELLIPSIS
	LTEXT "", IDC_DETAILSSOURCETEXT, 54, 35, 0, 10, SS_ENDELLIPSIS
	EDITTEXT IDC_DETAILSMESSAGETEXT, 0, 0, 0, 0, ES_MULTILINE | WS_VSCROLL
END

IDD_ABOUT DIALOGEX 0, 0, 150, 75
	STYLE DS_SHELLFONT | DS_NOIDLEMSG | WS_POPUP
	CAPTION "About Log Viewer"
	FONT 9, "Segoe UI"
BEGIN
	CTEXT "VxKex Log Viewer", IDSTATIC, 0, 5, 150, 10
	CTEXT "Version 1.0.1.0", IDSTATIC, 0, 15, 150, 10
#ifdef _DEBUG
	CTEXT "(DEBUG BUILD)", IDSTATIC, 0, 25, 150, 10
#endif
	CONTROL "<A>https://github.com/vxkex/vxkex</A>", IDC_WEBSITELINK, "SysLink", 0, 20, 35, 130, 16
	DEFPUSHBUTTON "OK", IDOK, 50, 55, 50, 14
END

IDD_GOTORAW DIALOGEX 0, 0, 158, 48
	STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_NOIDLEMSG |
		  DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
	EXSTYLE WS_EX_NOPARENTNOTIFY
	CAPTION "Go To Entry"
	FONT 9, "Segoe UI"
BEGIN
	LTEXT			"&Entry number:", stc1, 8, 10, 47, 8
	EDITTEXT		edt1, 56, 9, 83, 10, ES_NUMBER
	CONTROL			"", scr1, UPDOWN_CLASS, UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_NOTHOUSANDS, 139, 9, 11, 10
	DEFPUSHBUTTON	"Go To", IDOK, 50, 27, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 101, 27, 50, 14
END