#include "buildcfg.h"
#include <Windows.h>
#include <KexVer.h>
#include "resource.h"

1 VERSIONINFO
	FILEVERSION KEX_VERSION_FV
	FILEOS VOS_NT
#if defined(KEX_TARGET_TYPE_EXE)
	FILETYPE VFT_APP
#elif defined(KEX_TARGET_TYPE_DLL)
	FILETYPE VFT_DLL
#endif
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex Setup and Maintenance Tool"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				"KexSetup"
			VALUE "OriginalFilename",			"KEXSETUP.EXE"
		END
		BLOCK "080404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex 安装和维护工具"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				"KexSetup"
			VALUE "OriginalFilename",			"KEXSETUP.EXE"
		END
		BLOCK "040404E4"
		BEGIN
			VALUE "LegalCopyright",				KEX_WEB_STR
			VALUE "FileDescription",			"VxKex ?安裝和維護工具"
			VALUE "FileVersion",				KEX_VERSION_STR
			VALUE "InternalName",				"KexSetup"
			VALUE "OriginalFilename",			"KEXSETUP.EXE"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409 0x04E4, 0x0804 0x04E4
	END
END

IDI_APPICON ICON "KexSetup.ico"
IDI_VxKexICON ICON "VxKex.ico"


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_MAINWINDOW DIALOGEX 0, 0, MAIN_WINDOW_WIDTH, MAIN_WINDOW_HEIGHT
	STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW | WS_MINIMIZEBOX
	CAPTION "VxKex 安装程序"
	FONT 8, "Microsoft Yahei"
BEGIN
	CONTROL	"", IDSTATIC1, STATIC, SS_WHITERECT, 0, 0, MAIN_WINDOW_WIDTH, 35
	LTEXT	"", IDHDRTEXT, 10, 8, MAIN_WINDOW_WIDTH - 40, 10
	LTEXT	"", IDHDRSUBTEXT, 15, 18, MAIN_WINDOW_WIDTH - 45, 10
	CONTROL IDI_VxKexICON, IDSTATIC2, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, MAIN_WINDOW_WIDTH - 25, 8, 0, 0
	CONTROL	"", IDSTATIC3, STATIC, SS_ETCHEDHORZ, 0, 35, MAIN_WINDOW_WIDTH + 2, 0
	CONTROL "", IDPROGRESS, "msctls_progress32", WS_CHILD | WS_VISIBLE | PBS_SMOOTH | PBS_MARQUEE, 15, 65, MAIN_WINDOW_WIDTH - 30, 10
	
	// Scene 1. Selection of installation directory
	LTEXT	"安装程序将安装 VxKex 到以下文件夹中。如果要安装到其他文件夹，请单击“浏览”按钮并选择其他文件夹。单击“安装”后，安装将开始。",
			IDS1GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 30
	EDITTEXT IDS1DIRPATH, 15, 70, MAIN_WINDOW_WIDTH - 85, 13
	PUSHBUTTON "浏览(&R)...", IDS1BROWSE, MAIN_WINDOW_WIDTH - 65, 69, 50, 15
	LTEXT	"", IDS1SPACEREQ, 15, MAIN_WINDOW_HEIGHT - 55, MAIN_WINDOW_WIDTH - 30, 10
	LTEXT	"", IDS1SPACEAVAIL, 15, MAIN_WINDOW_HEIGHT - 45, MAIN_WINDOW_WIDTH - 30, 10
#ifdef _DEBUG
	LTEXT	"这是 VxKex 的调试版本。用于调试的 PDB（程序数据库）文件将与 VxKex 文件一起安装。", IDS1PDBNOTICE, 15, 90, MAIN_WINDOW_WIDTH - 30, 30
#endif

	// Scene 2. Installation in progress screen
	LTEXT	"安装程序正在安装 VxKex。请等待安装完成。", IDS2GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 3. Installation complete screen
	LTEXT	"安装现已完成。要将 VxKex 作用于程序，请右键单击 EXE 或 MSI 文件，打开“属性”对话框，然后选择 VxKex 选项卡。",
			IDS3GUIDETEXT, 30, 45, MAIN_WINDOW_WIDTH - 50, 30
	AUTOCHECKBOX "打开 VxKex 全局设置（高级）", IDS3KEXCFG, 25, 70, MAIN_WINDOW_WIDTH - 40, 10

	// Scene 4. Uninstall info screen
	LTEXT	"安装程序将卸载 VxKex。作为卸载过程的一部分，所有 VxKex 文件和注册表项都将从您的计算机中删除。除非勾选下面的复选框，否则您为每个应用程序配置的所有 VxKex 设置都将被删除。", IDS4GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 50
	LTEXT	"单击“卸载”时，安装程序将执行卸载。", IDS4GUIDETEXT2, 15, 75, MAIN_WINDOW_WIDTH - 30, 50
	AUTOCHECKBOX "保留我的兼容性设置(&K)", IDS4PRESERVECONFIG, 25, 110, MAIN_WINDOW_WIDTH - 40, 10

	// Scene 5. Uninstallation in progress screen
	LTEXT	"安装程序正在删除 VxKex。请等待删除完成。", IDS5GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 6. Uninstallation complete screen
	LTEXT	"VxKex 已被删除。单击“完成”退出安装程序。", IDS6GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10
	LTEXT	"如果应用程序使用 VxKex 文件，这些文件可能会保留在您的计算机上。下次重新启动计算机时，它们将自动删除。", IDS6GUIDETEXT2, 15, 60, MAIN_WINDOW_WIDTH - 30, 30

	// Scene 7. Update info screen
	LTEXT	"安装程序将把 VxKex 更新到较新版本。您的所有自定义设置和配置都将保留。单击“更新”后，安装程序将开始更新过程。", IDS7GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 30
	LTEXT	"以下是更新日志，显示了新版本的更改：", IDS7GUIDETEXT2, 15, 75, MAIN_WINDOW_WIDTH - 30, 10
	EDITTEXT IDS7CHANGELOG, 15, 90, MAIN_WINDOW_WIDTH - 30, 95, ES_MULTILINE | WS_VSCROLL | ES_READONLY

	// Scene 8. Update in progress screen
	LTEXT	"安装程序正在更新 VxKex。请等待更新完成。", IDS8GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 9. Update complete screen
	LTEXT	"更新现已完成。单击“完成”退出安装程序。", IDS9GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	CONTROL	"", IDSTATIC4, STATIC, SS_OWNERDRAW, 0, MAIN_WINDOW_HEIGHT - 27, MAIN_WINDOW_WIDTH, 27
	CONTROL "", IDSTATIC5, STATIC, SS_ETCHEDHORZ, 0, MAIN_WINDOW_HEIGHT - 27, MAIN_WINDOW_WIDTH + 2, 0

	DEFPUSHBUTTON	"",	IDNEXT, MAIN_WINDOW_WIDTH - 111,	MAIN_WINDOW_HEIGHT - 21, 50, 15
	PUSHBUTTON		"取消", IDCANCEL2,	MAIN_WINDOW_WIDTH - 58,		MAIN_WINDOW_HEIGHT - 21, 50, 15
END


LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

IDD_MAINWINDOW DIALOGEX 0, 0, MAIN_WINDOW_WIDTH, MAIN_WINDOW_HEIGHT
	STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW | WS_MINIMIZEBOX
	CAPTION "VxKex 安裝程式"
	FONT 8, "Microsoft Jhenghei"
BEGIN
	CONTROL	"", IDSTATIC1, STATIC, SS_WHITERECT, 0, 0, MAIN_WINDOW_WIDTH, 35
	LTEXT	"", IDHDRTEXT, 10, 8, MAIN_WINDOW_WIDTH - 40, 10
	LTEXT	"", IDHDRSUBTEXT, 15, 18, MAIN_WINDOW_WIDTH - 45, 10
	CONTROL IDI_VxKexICON, IDSTATIC2, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, MAIN_WINDOW_WIDTH - 25, 8, 0, 0
	CONTROL	"", IDSTATIC3, STATIC, SS_ETCHEDHORZ, 0, 35, MAIN_WINDOW_WIDTH + 2, 0
	CONTROL "", IDPROGRESS, "msctls_progress32", WS_CHILD | WS_VISIBLE | PBS_SMOOTH | PBS_MARQUEE, 15, 65, MAIN_WINDOW_WIDTH - 30, 10
	
	// Scene 1. Selection of installation directory
	LTEXT	"安裝程式將安裝 VxKex 到以下資料夾中。如果要安裝到其他資料夾，請單擊「瀏覽」按鈕並選擇其他資料夾。單擊「安裝」後，安裝將開始。",
			IDS1GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 30
	EDITTEXT IDS1DIRPATH, 15, 70, MAIN_WINDOW_WIDTH - 85, 13
	PUSHBUTTON "瀏覽(&R)...", IDS1BROWSE, MAIN_WINDOW_WIDTH - 65, 69, 50, 15
	LTEXT	"", IDS1SPACEREQ, 15, MAIN_WINDOW_HEIGHT - 55, MAIN_WINDOW_WIDTH - 30, 10
	LTEXT	"", IDS1SPACEAVAIL, 15, MAIN_WINDOW_HEIGHT - 45, MAIN_WINDOW_WIDTH - 30, 10
#ifdef _DEBUG
	LTEXT	"這是 VxKex 的調試版本。用於調試的 PDB（程式資料庫）檔案將與 VxKex 檔案一起安裝。", IDS1PDBNOTICE, 15, 90, MAIN_WINDOW_WIDTH - 30, 30
#endif

	// Scene 2. Installation in progress screen
	LTEXT	"安裝程式正在安裝 VxKex。請等待安裝完成。", IDS2GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 3. Installation complete screen
	LTEXT	"安裝現已完成。要將 VxKex 作用於程式，請右鍵單擊 EXE 或 MSI 檔案，開啟「屬性」對話框，然後選擇 VxKex 選項卡。",
			IDS3GUIDETEXT, 30, 45, MAIN_WINDOW_WIDTH - 50, 30
	AUTOCHECKBOX "開啟 VxKex 全域設定（高級）", IDS3KEXCFG, 25, 70, MAIN_WINDOW_WIDTH - 40, 10

	// Scene 4. Uninstall info screen
	LTEXT	"安裝程式將解除安裝 VxKex。作為解除安裝過程的一部分，所有 VxKex 檔案和登錄檔項都將從您的電腦中刪除。除非勾選下面的複選框，否則您為每個應用程式配置的所有 VxKex 設定都將被刪除。", IDS4GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 50
	LTEXT	"單擊「解除安裝」時，安裝程式將執行解除安裝。", IDS4GUIDETEXT2, 15, 75, MAIN_WINDOW_WIDTH - 30, 50
	AUTOCHECKBOX "保留我的相容性設定(&K)", IDS4PRESERVECONFIG, 25, 110, MAIN_WINDOW_WIDTH - 40, 10

	// Scene 5. Uninstallation in progress screen
	LTEXT	"安裝程式正在刪除 VxKex。請等待刪除完成。", IDS5GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 6. Uninstallation complete screen
	LTEXT	"VxKex 已被刪除。單擊「完成」退出安裝程式。", IDS6GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10
	LTEXT	"如果應用程式使用 VxKex 檔案，這些檔案可能會保留在您的電腦上。下次重新啟動電腦時，它們將自動刪除。", IDS6GUIDETEXT2, 15, 60, MAIN_WINDOW_WIDTH - 30, 30

	// Scene 7. Update info screen
	LTEXT	"安裝程式將把 VxKex 更新到較新版本。您的所有自定義設定和配置都將保留。單擊「更新」後，安裝程式將開始更新過程。", IDS7GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 30
	LTEXT	"以下是更新日誌，顯示了新版本的更改：", IDS7GUIDETEXT2, 15, 75, MAIN_WINDOW_WIDTH - 30, 10
	EDITTEXT IDS7CHANGELOG, 15, 90, MAIN_WINDOW_WIDTH - 30, 95, ES_MULTILINE | WS_VSCROLL | ES_READONLY

	// Scene 8. Update in progress screen
	LTEXT	"安裝程式正在更新 VxKex。請等待更新完成。", IDS8GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 9. Update complete screen
	LTEXT	"更新現已完成。單擊「完成」退出安裝程式。", IDS9GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	CONTROL	"", IDSTATIC4, STATIC, SS_OWNERDRAW, 0, MAIN_WINDOW_HEIGHT - 27, MAIN_WINDOW_WIDTH, 27
	CONTROL "", IDSTATIC5, STATIC, SS_ETCHEDHORZ, 0, MAIN_WINDOW_HEIGHT - 27, MAIN_WINDOW_WIDTH + 2, 0

	DEFPUSHBUTTON	"",	IDNEXT, MAIN_WINDOW_WIDTH - 111,	MAIN_WINDOW_HEIGHT - 21, 50, 15
	PUSHBUTTON		"取消", IDCANCEL2,	MAIN_WINDOW_WIDTH - 58,		MAIN_WINDOW_HEIGHT - 21, 50, 15
END


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

IDD_MAINWINDOW DIALOGEX 0, 0, MAIN_WINDOW_WIDTH, MAIN_WINDOW_HEIGHT
	STYLE DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_POPUPWINDOW | WS_MINIMIZEBOX
	CAPTION "VxKex Setup"
	FONT 8, "Segoe UI"
BEGIN
	CONTROL	"", IDSTATIC1, STATIC, SS_WHITERECT, 0, 0, MAIN_WINDOW_WIDTH, 35
	LTEXT	"", IDHDRTEXT, 10, 8, MAIN_WINDOW_WIDTH - 40, 10
	LTEXT	"", IDHDRSUBTEXT, 15, 18, MAIN_WINDOW_WIDTH - 45, 10
	CONTROL IDI_VxKexICON, IDSTATIC2, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, MAIN_WINDOW_WIDTH - 25, 8, 0, 0
	CONTROL	"", IDSTATIC3, STATIC, SS_ETCHEDHORZ, 0, 35, MAIN_WINDOW_WIDTH + 2, 0
	CONTROL "", IDPROGRESS, "msctls_progress32", WS_CHILD | WS_VISIBLE | PBS_SMOOTH | PBS_MARQUEE, 15, 65, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 1. Selection of installation directory
	LTEXT	"Setup will install VxKex into the following folder. If you want to install to a different folder, click the Browse button and choose another folder. Once you click ""Install"", installation will begin.",
			IDS1GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 30
	EDITTEXT IDS1DIRPATH, 15, 70, MAIN_WINDOW_WIDTH - 85, 13
	PUSHBUTTON "B&rowse...", IDS1BROWSE, MAIN_WINDOW_WIDTH - 65, 69, 50, 15
	LTEXT	"", IDS1SPACEREQ, 15, MAIN_WINDOW_HEIGHT - 55, MAIN_WINDOW_WIDTH - 30, 10
	LTEXT	"", IDS1SPACEAVAIL, 15, MAIN_WINDOW_HEIGHT - 45, MAIN_WINDOW_WIDTH - 30, 10
#ifdef _DEBUG
	LTEXT	"This is a debug build of VxKex. The PDB (program database) files for debugging will be installed alongside VxKex files.", IDS1PDBNOTICE, 15, 90, MAIN_WINDOW_WIDTH - 30, 30
#endif

	// Scene 2. Installation in progress screen
	LTEXT	"Setup is now installing VxKex. Please wait until the installation is complete.", IDS2GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 3. Installation complete screen
	LTEXT	"Installation is now complete. To use VxKex for a program, right click on the EXE or MSI file, open the Properties dialog, and select the VxKex tab.",
			IDS3GUIDETEXT, 30, 45, MAIN_WINDOW_WIDTH - 50, 30
	AUTOCHECKBOX "Open VxKex global settings (advanced)", IDS3KEXCFG, 25, 70, MAIN_WINDOW_WIDTH - 40, 10

	// Scene 4. Uninstall info screen
	LTEXT	"Setup will uninstall VxKex. As a part of the uninstall process, all VxKex files and registry keys will be removed from your computer. All VxKex settings you have configured for each application will be removed unless you check the checkbox below.", IDS4GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 50
	LTEXT	"When you click ""Uninstall"", Setup will perform the uninstallation.", IDS4GUIDETEXT2, 15, 75, MAIN_WINDOW_WIDTH - 30, 50
	AUTOCHECKBOX "&Keep my compatibility settings", IDS4PRESERVECONFIG, 25, 110, MAIN_WINDOW_WIDTH - 40, 10

	// Scene 5. Uninstallation in progress screen
	LTEXT	"Setup is now removing VxKex. Please wait until the removal is complete.", IDS5GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 6. Uninstallation complete screen
	LTEXT	"VxKex has been removed. Click Finish to exit Setup.", IDS6GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10
	LTEXT	"If applications were using VxKex files, they may remain on your computer. They will be automatically deleted when you next restart your computer.", IDS6GUIDETEXT2, 15, 60, MAIN_WINDOW_WIDTH - 30, 30

	// Scene 7. Update info screen
	LTEXT	"Setup will update VxKex to a newer version. All of your custom settings and configuration will be preserved. When you click ""Update"", Setup will begin the update process.", IDS7GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 30
	LTEXT	"Here is the change log, which shows you the changes in the new version:", IDS7GUIDETEXT2, 15, 75, MAIN_WINDOW_WIDTH - 30, 10
	EDITTEXT IDS7CHANGELOG, 15, 90, MAIN_WINDOW_WIDTH - 30, 95, ES_MULTILINE | WS_VSCROLL | ES_READONLY

	// Scene 8. Update in progress screen
	LTEXT	"Setup is now updating VxKex. Please wait until the update is complete.", IDS8GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	// Scene 9. Update complete screen
	LTEXT	"The update is now complete. Click Finish to exit Setup.", IDS9GUIDETEXT, 15, 45, MAIN_WINDOW_WIDTH - 30, 10

	CONTROL	"", IDSTATIC4, STATIC, SS_OWNERDRAW, 0, MAIN_WINDOW_HEIGHT - 27, MAIN_WINDOW_WIDTH, 27
	CONTROL "", IDSTATIC5, STATIC, SS_ETCHEDHORZ, 0, MAIN_WINDOW_HEIGHT - 27, MAIN_WINDOW_WIDTH + 2, 0

	DEFPUSHBUTTON	"",	IDNEXT, MAIN_WINDOW_WIDTH - 111,	MAIN_WINDOW_HEIGHT - 21, 50, 15
	PUSHBUTTON		"Cancel", IDCANCEL2,	MAIN_WINDOW_WIDTH - 58,		MAIN_WINDOW_HEIGHT - 21, 50, 15
END